.colora1 {
    background-color: green;
    height: 150px;
    width: 150px;
    display: inline-flex;
    margin-left: 10px;
}
.colora2 {
    background-color: green;
    height: 100px;
    width: 100px;
    display: inline-flex;
    margin-left: 10px;
}