h1 {
    color:red;
}

div.casuali {
    background-color: grey;
    height: 50px;
    width: 50px;
}

div.rosso {
    background-color: red;
    height: 50px;
    width: 50px;
}
div.verde {
    background-color: green;
    height: 50px;
    width: 50px;
}
div.blu {
    background-color: blue;
    height: 50px;
    width: 50px;
}
div.giallo {
    background-color: yellow;
    height: 50px;
    width: 50px;
}

div.div {
    background-color: red;
    color:white;
}