h1 {
    color: red;
}

div {
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

button.red {
    color: red;
}
button.blue {
    color: blue;
}
button.yellow {
    color: yellow;
}
button.green {
    color: green;
}
button.orange {
    color: orange;
}

button#button_alterna {
    color: black;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    
}

