h1{
    color:black;
    background-color: green;
}

.pari{
    color: yellow;
    background-color: black;
}

.dispari{
    color:black;
    background-color: white;
}

div.div {
    color: black;
    background-color: green;
}